body {
    background: rgb(254 226 226);
    background: linear-gradient(rgba(254, 225, 255, 1), rgba(254, 226, 226, 1));
    background-repeat: no-repeat;
}

.container {
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../public/image/youtube.png') no-repeat center;
    opacity: 0.1;
    z-index: -1;
}